.featured-image-block__wrapper {
  position: relative;
  width: 100%;

  .featured-image-block__container {
    width: 100%;

    .featured-image {
      width: 100%;
      height: 100vh;

      @include respond-below(sm) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
      }
    }
  }
}
