.productspage-products-collection__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 180px;
  background-color: $color-black;

  @include respond-below(lg) {
    padding-bottom: 150px;
  }

  @include respond-below(md) {
    padding-bottom: 130px;
  }

  @include respond-below(sm) {
    padding-bottom: 110px;
  }

  @include respond-below(xs) {
    padding-bottom: 90px;
  }

  .productspage-products-collection__container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;

    @include respond-below(xs) {
      width: 84%;
    }

    .heading__container {
      width: 100%;
      margin-bottom: 60px;

      h2 {
        @extend .font-heading__style2;
      }
    }

    .products__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      overflow: hidden;

      @include respond-below(md) {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }

      @include respond-below(xs) {
        grid-template-columns: 1fr;
        gap: 70px;
      }

      .single-product__container {
        width: 100%;
        cursor: pointer;

        .product__container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          .image {
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 2;

            img {
              width: 100%;
              aspect-ratio: 1/1;
              max-height: 300px;
              display: block;
              object-fit: cover;
              transition: transform 300ms ease-in-out;
            }
          }

          .content {
            width: 100%;

            h3 {
              @extend .font-heading__style4;
              margin-bottom: 6px;
            }

            h4 {
              @extend .font-text__style3;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              line-height: 1;
              letter-spacing: 0.5px;

              @include respond-below(md) {
                font-size: 14px;
              }

              @include respond-below(xs) {
                font-size: 13px;
              }
            }

            p {
              @extend .font-text__style2;
              line-height: 1.55;
              margin-top: 16px;
            }
          }

          &:hover {
            .image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }

        .product-popup__wrapper {
          position: fixed;
          width: 100vw;
          height: 100vh;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          background-color: rgba($color: $color-black, $alpha: 0.5);
          backdrop-filter: blur(5px);
          z-index: 1000;
          transform-origin: center;
          will-change: opacity;

          .product-popup__container {
            width: 90%;
            max-width: 1160px;
            margin: 0 auto;
            position: relative;
            transform-origin: center;
            will-change: transform, opacity;
            z-index: 1000;

            @include respond-below(sm) {
              width: 84%;
            }

            @include respond-below(xs) {
              width: 100%;
              height: 100%;
            }

            .close__container {
              position: absolute;
              right: 0;
              top: 0;
              z-index: 100000;

              .close-btn {
                all: unset;
                cursor: pointer;
                line-height: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                margin: 0;

                @include respond-below(sm) {
                  padding: 20px;
                }

                svg {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  fill: $color-black;

                  @include respond-below(sm) {
                    fill: $color-white;
                  }
                }
              }
            }

            .popup__container {
              width: 100%;
              height: 70vh;
              position: relative;
              background-color: $color-white;

              @include respond-below(lg) {
                height: 60vh;
              }

              @include respond-below(sm) {
                flex-direction: column;
                height: 100%;
              }

              @include respond-below(xs) {
                width: 100%;
                height: 100%;
              }

              .product-slide {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                .product {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  background-color: $color-white;
                  position: relative;
                  z-index: 10000;

                  @include respond-below(sm) {
                    flex-direction: column;
                  }

                  .product-image {
                    width: 50%;
                    height: 100%;

                    @include respond-below(sm) {
                      width: 100%;
                    }

                    @include respond-below(xs) {
                      height: auto;
                    }

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;

                      @include respond-below(sm) {
                        height: auto;
                        width: 100%;
                        max-height: 320px;
                        aspect-ratio: 16 / 9;
                        object-position: center center;
                      }
                    }
                  }

                  .product-content {
                    width: 50%;
                    height: 100%;
                    padding: 60px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include breakpoint(1440px) {
                      width: 50%;
                    }

                    @include respond-below(lg) {
                      padding: 50px 0;
                    }

                    @include respond-below(sm) {
                      width: 100%;
                      height: auto;
                      padding: 40px 0;
                      flex-grow: 1;
                    }

                    .section-content {
                      width: 90%;
                      max-width: 420px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: flex-start;
                      gap: 50px;

                      @include respond-below(md) {
                        width: 84%;
                      }

                      @include respond-below(sm) {
                        max-width: none;
                      }

                      h2 {
                        @extend .font-heading__style4;
                        color: $color-black;
                      }

                      p {
                        @extend .font-text__style2;
                        margin-top: 16px;
                        color: $color-black;
                      }

                      .cta {
                        width: 100%;
                        margin-top: 40px;

                        a {
                          @extend .btn__style1;
                          text-decoration: none;
                          background-color: $color-black;
                          color: $color-white;

                          &:hover {
                            .fade-out-text {
                              transform: translateY(0%);
                            }

                            .fade-in-text {
                              transform: translateY(0%);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .custom-navigation__container {
                position: absolute;
                width: 50%;
                height: 100%;
                padding: 30px 0;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 20px;
                z-index: 10000;

                @include respond-below(sm) {
                  height: auto;
                  width: 100%;
                  max-height: 320px;
                  aspect-ratio: 16 / 9;
                }

                .swiper-button-prev,
                .swiper-button-next {
                  position: relative;
                  left: auto;
                  top: auto;
                  right: auto;
                  bottom: auto;
                  transform: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1.5px solid $color-white;
                  background-color: $color-white;
                  border-radius: 5px;
                  width: 50px;
                  height: 50px;
                  text-decoration: none;

                  &::before,
                  &::after {
                    display: none;
                  }

                  svg {
                    display: block;
                    width: 20px;
                  }

                  &.fade {
                    opacity: 0;
                    visibility: hidden;
                  }
                }

                .swiper-button-prev {
                  transform: rotate(-180deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
