.aboutpage-core-values__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 160px;

  @include respond-below(lg) {
    padding-bottom: 150px;
  }

  @include respond-below(md) {
    padding-bottom: 130px;
  }

  @include respond-below(sm) {
    padding-bottom: 110px;
  }

  @include respond-below(xs) {
    padding-bottom: 90px;
  }

  .aboutpage-core-values__container {
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;

    @include respond-below(xs) {
      width: 84%;
    }

    .section-heading__container {
      width: 100%;
      margin-bottom: 100px;

      h2 {
        @extend .font-heading__style2;
        margin-bottom: 32px;
      }

      p {
        @extend .font-text__style1;
      }
    }

    .section-cards__container {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      @include respond-below(sm) {
        grid-template-columns: 1fr;
      }

      .section-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        padding: 40px;
        border-radius: 8px;
        background-color: $color-gray-700;

        .image {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          background-color: $color-white;

          img {
            width: 44px;
            object-fit: cover;
          }
        }

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;

          h3 {
            @extend .font-heading__style3;
          }

          p {
            @extend .font-text__style2;
          }
        }
      }
    }
  }
}
