.aboutpage-partners__wrapper {
  position: relative;
  width: 100%;
  padding: 160px 0;

  @include respond-below(lg) {
    padding: 150px 0;
  }

  @include respond-below(md) {
    padding: 130px 0;
  }

  @include respond-below(sm) {
    padding: 110px 0;
  }

  .aboutpage-partners__container {
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;

    @include respond-below(xs) {
      width: 84%;
    }

    .section-heading__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      text-align: center;
      margin-bottom: 80px;

      h2 {
        @extend .font-heading__style2;
      }

      p {
        @extend .font-text__style1;
        max-width: 800px;
      }
    }

    .partners-logo__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 60px 30px;

      @include respond-below(xs) {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
      }

      .logo {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          display: inline-block;
          text-decoration: none;
        }

        img {
          width: 100%;
          max-width: 260px;
          max-width: 130px;
          object-fit: contain;
        }
      }
    }
  }
}
